<!DOCTYPE html>
<html lang="tr">

<head>
    @await Component.InvokeAsync("Head")

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link href="~/UI/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/UI/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/UI/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/UI/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/UI/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="~/UI/assets/css/main.css" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="index-page">

    @await Component.InvokeAsync("Header")

    <main class="main">
        @RenderBody()
    </main>

    <footer id="footer" class="footer position-relative">
        <div class="container">
            <div class="copyright text-center">
                <p>© @DateTime.UtcNow.Year <strong class="px-1 sitename">Buğra Öztürk</strong> <span>Tüm Hakları Saklıdır.</span></p>
            </div>
        </div>
    </footer>

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <script src="~/UI/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/UI/assets/vendor/aos/aos.js"></script>
    <script src="~/UI/assets/vendor/typed.js/typed.umd.js"></script>
    <script src="~/UI/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/UI/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/UI/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/UI/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/UI/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/UI/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="~/UI/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>